<div class="card border-success my-3">
  <div class="card-header">Clientes</div>
  <div class="card-body">

    <h5 class="card-title">Listado de Clientes</h5>

    <div class="my-2 text-left">
      <button class="btn btn-success btn-rounded" type="button" [routerLink]="['/clientes/form']" routerLinkActive="router-link-active" >Crear Cliente</button>
    </div>

    <div *ngIf="clientes?.length==0" class="alert alert-info">
      No hay registros de clientes en la Base de datos!
    </div>

    <table class="table table-borded table-striped" *ngIf="clientes?.length>0">
      <thead>
        <tr>
          <th>id</th>
          <th>nombre</th>
          <th>apellido</th>
          <th>fecha</th>
          <th>email</th>
          <th>editar</th>
          <th>eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = 'let cliente of clientes'>
          <td>{{cliente.id}}</td>
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellido | uppercase}}</td>
          <td>{{cliente.createAt | date: "EEEE dd, MMMM yyyy"}}</td>
          <td>{{cliente.email}}</td>
          <td>
            <button type="button" name="editar" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary btn-sm">editar</button>
          </td>
          <td>
            <button type="button" name="eliminar" (click)="deleteCliente(cliente)" class="btn btn-danger btn-sm">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
