<div>
  <ul class="alert alert-danger" *ngIf="errores?.length > 0">
    <li *ngFor="let err of errores">{{err}}</li>
  </ul>
</div>

<div class="card bg-dark text-white my-2">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">

    <form #clienteForm="ngForm">
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="nombre">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" minlength="3" #nombre="ngModel"> <!--required -->
          <!--div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.errors.required">
              Nombre es requerido
            </div>
            <div *ngIf="nombre.errors.minlength">
              El nombre debe tener almenos 3 caracteres
            </div>
          </div-->
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="apellido">Apellido</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" minlength="3" #apellido="ngModel"><!--required -->
          <!--div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
            <div *ngIf="apellido.errors.required">
              apellido es requerido
            </div>
            <div *ngIf="apellido.errors.minlength">
              El apellido debe tener almenos 3 caracteres
            </div>
          </div-->
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="correo">Correo</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.email" name="correo" #correo="ngModel"><!--required email -->
          <!--div class="alert alert-danger" *ngIf="correo.invalid && (correo.dirty || correo.touched)">
            <div *ngIf="correo.errors.required">
              El correo es requerido
            </div>
            <div *ngIf="correo.errors.email">
              Ingrese un correo válido
            </div>
          </div-->
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)="createCliente()" *ngIf="!cliente.id else elseBlock">Guardar</button><!--[disabled]="!clienteForm.form.valid"-->
          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)="updateCliente()">Actualizar</button> <!--[disabled]="!clienteForm.form.valid"-->
          </ng-template>
        </div>
      </div>
    </form>

  </div>
</div>
